* {

    padding: 5px;
    border: 1px solid black;
    background-color: turquoise;
    margin: 5;
    font-family: Inter, Arial, Helvetica, sans-serif;

}

em,
strong,
a {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
}

ul,
ol,
.nestedbottom {
    list-style-type: none;
}

#mytextarea {
    height: 100px;
    padding: 10px;
    vertical-align: bottom;
    padding-bottom: 5px;
    box-sizing: border-box;
}

.title {
    text-align: center;
}

.pfp-container {
    display: flex;
    flex-direction: column;
}

.pfp-container .nestedside {
    display: flex;
    height: auto;
    flex-direction: row;
}

.pfp-container .nestedbottom {
    flex-direction: row;
    display: flex;
    gap: 10px;
}